@use "../../../sass/variables" as *;

.profile-dropdown {
    
    .dropdown-toggle {
        padding-right: 0 !important;
        position: relative;

        &::after {
            display: none;
            padding: 0 !important;
            margin: 0 !important;
        }

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
        }

        
    }

    .dropdown-header {
        font-size: 1rem;
        color: $gray-900;
    }

    i {
        width: 20px;
        text-align: center;
        margin-right: 8px;
        color: $gray-600;
    }

    .dropdown-menu {
        border-bottom: 2px solid $primary !important;

        .dropdown-item {
            .icon {
                color: $gray-500;
                margin-right: 0.75rem;
            }

            &.active,
            &:active {
                .icon {
                    color: $gray-100;
                }
            }

            
        }
    }
}